
.talk-to-us-container{
    display:flex;
    flex-direction:column;
    background-color:red;
    margin-top:30px;
   padding:30px
}
.heading{
    color:white;
    font-style:italic;
}
.sub-heading{
    color:white;
    font-size:15px;
    font-weight:600
}
.detailed-description{
    color:white;
    font-size:12px;
    font-weight:normal;
}
.span-text{
    color:white;
    font-weight:bold
}
.links{
    color:white;
    font-weight:normal;
    font-size:12px;
}
@media screen and (min-width:350px){
    .talk-to-us-container{
        display:none;
        
    }
}